<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <form class="" action="index.html" method="post">
            Enter pointless info<input type="text" name="" value="">
            <input type="submit" name="submit" value="Submit pointles info">
        </form>
    </body>
</html>
