<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>

        <% for (var i = 0 ; i < cats.length ; i ++) { %>
            <a href='<%= cats[i].href %>'><%= cats[i].name%></a>
        <% } %>
    </body>
</html>
