<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Name: <%=monkey.name%></h1>
        <h1>Age: <%=monkey.age%></h1>
        <h1>Favorite Hobbies: <%=monkey.favoritehobbies%></h1>
        <a href="/">Back to Monkeys</a>
    </body>
</html>
