<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <form class="quotes" action="/processquote" method="post">
            Name: <input type="text" name="name" value="">
            Quote: <textarea placeholder="Enter your stupid shizz" name="quote" rows="8" cols="80"></textarea>
            <input type="submit" name="submit" value="submit">
        </form>
    </body>
</html>
